<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
        media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <table cellspacing="0" cellpadding="0" class="striped responsive-table centered">
                    <thead>
                        <tr class="card-panel grey darken-4 white-text">
                            <th class="center" colspan="8">
                                <h4>Semana 2 a 5 de maio</h4>
                            </th>
                        </tr>
                        <tr>
                            <th>DIA</th>
                            <th>DEMANDA</th>
                            <th>NOME</th>
                            <th>DATA ENTRADA</th>
                            <th>DATA TÉRMINO</th>
                            <th>HORA INÍCIO</th>
                            <th>HORA TÉRMINO</th>
                            <th>SITUAÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ATIVIDADES DIVERSAS</td>
                            <td>Campanha de Vacinação</td>
                            <td>02/05/2017</td>
                            <td>02/05/2017</td>
                            <td>16:09:00</td>
                            <td>16:09:00</td>
                            <td>01:09:00</td>
                            <td>
                                <select>
                                    <option value="" disabled selected>Selecione uma opção</option>
                                    <option value="2">ATRASADO</option>
                                    <option value="2">ALTERAÇÃO</option>
                                    <option value="3">CONCLUÍDO</option>
                                    <option value="1">EM ANDAMENTO</option>
                                    <option value="2">EM APROVAÇÃO</option>
                                    <option value="2">INICIADO</option>
                                    <option value="2">SUSPENSO</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>BANNER</td>
                            <td>Campanha de Vacinação</td>
                            <td>02/05/2017</td>
                            <td>02/05/2017</td>
                            <td>16:09:00</td>
                            <td>16:09:00</td>
                            <td>01:09:00</td>
                            <td>
                                <select>
                                    <option value="" disabled selected>Selecione uma opção</option>
                                    <option value="2">ATRASADO</option>
                                    <option value="2">ALTERAÇÃO</option>
                                    <option value="3">CONCLUÍDO</option>
                                    <option value="1">EM ANDAMENTO</option>
                                    <option value="2">EM APROVAÇÃO</option>
                                    <option value="2">INICIADO</option>
                                    <option value="2">SUSPENSO</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>E-MAIL MKT</td>
                            <td>Campanha de Vacinação</td>
                            <td>02/05/2017</td>
                            <td>02/05/2017</td>
                            <td>16:09:00</td>
                            <td>16:09:00</td>
                            <td>01:09:00</td>
                            <td>
                                <select>
                                    <option value="" disabled selected>Selecione uma opção</option>
                                    <option value="2">ATRASADO</option>
                                    <option value="2">ALTERAÇÃO</option>
                                    <option value="3">CONCLUÍDO</option>
                                    <option value="1">EM ANDAMENTO</option>
                                    <option value="2">EM APROVAÇÃO</option>
                                    <option value="2">INICIADO</option>
                                    <option value="2">SUSPENSO</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</body>

</html>