<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
        media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <table cellspacing="0" cellpadding="0" class="bordered responsive-table centered grey lighten-3 grey-text text-darken-2">
                    <thead>
                        <tr class="card-panel grey darken-4 white-text">
                            <th class="center" colspan="8">
                                <h4>Estatísticas do mês de maio</h4>
                            </th>
                        </tr>
                        <tr>
                            <th>Período</th>
                            <th>Tipo de demanda</th>
                            <th>Total de demandas</th>
                            <th>Horas gastas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">jan/2017</td>
                            <td>ATUALIZAÇÕES DO PORTAL</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>BANNER</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>BANNER</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>BANNER</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>BANNER</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</body>

</html>