<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>

		<% for(var i = 0; i < acoes.length; i++) { 
			var textAct = null;

			switch(parseInt(acoes[i].acao)){
				case 1: textAct = "Coletar recursos"; break;
				case 2: textAct = "Enforcar aldeão"; break;
				case 3: textAct = "Ensinar história";break;
				case 4: textAct = "Ensinar magia"; break;
			}	
		%>
		<li><%=acoes[i].quantidade %> - <%= textAct %> - <small>restam 00000 segundos - <a href="#">revogar ordem</a></small></li>
		<% } %>
	</ul>
</div>