<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>

		<% for(var i = 0; i < acoes.length; i++) { 
			var textAct = null;

			switch(parseInt(acoes[i].acao)){
				case 1: textAct = "Coletar recursos"; break;
				case 2: textAct = "Enforcar aldeão"; break;
				case 3: textAct = "Ensinar história"; break;
				case 4: textAct = "Ensinar magia"; break;
			}	

			var date = new Date();
			var agora = date.getTime();

			var segundosRestantes = Math.round((acoes[i].acaoTerminaEm - agora) / 1000);
		%>
		<li>
			<%= acoes[i].quantidade %> - <%= textAct %> 
			- <small>restam 
			<span class="tempo_restante">
				<%= segundosRestantes %>
			</span>
			 segundos 
				- <a href="/revogar_acao/<%= acoes[i]._id %>">revogar ordem</a>
			</small>
		</li>
		<% } %>
	</ul>
</div>